.autoComplete {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.autoComplete__close {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
  padding: 5px;
}

.autoComplete__input {
  width: 100%;
  max-width: 400px;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
}

.autoComplete__menu {
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  padding: 0px;
}

.autoComplete__menu li {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.autoComplete__menu li:hover {
  background-color: #ddd;
}
